*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
body{
  background-color: beige;
}


@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
.navbar{
  background: linear-gradient(45deg, black, rgb(0, 153, 255),rgb(187, 0, 255),rgb(0, 0, 0));
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
.navbar-brand{
  color: white;
  font-size: 30px;
}
ul{
  margin-left: 50PX;
}
.navbar ul li a{
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}
.navbar-brand{
  display: flex;
  align-items: center;
  font-family: "Rubik Scribble", system-ui;
font-weight: 400;
font-size: 40px;
font-style: normal;
/* background-color: white; */
}
.navbar ul li a:hover{
  color: white;
}
.title-section h4{
  font-size: 35px;
  letter-spacing: 1px;
  font-style: normal;
  font-family: Brush Script MT, Brush Script Std, cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.first-section{
  display: flex;
  justify-content: end;
  gap: 50px;
}
.image{
  width: 400px;
}
.image img{
  width: 400px;
  height: auto;
}
.content-section{
  width: 50%;
}
.content-section h6{
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 20px;
}
.content-section h4{
  font-family: Brush Script MT, Brush Script Std, cursive;
}
.visitbtns .go-btn{
  padding: 10px 10px;
  border: none;
  background-color: rgb(40, 40, 143);
  color: white;
}
.Featured-section{
  background-color:rgb(233, 233, 246);
  /* display: flex;
  justify-content: center; */
  width: 90%;
  margin-bottom: 20px;
}
.sub{
  text-align: center;
  padding: 10px;
}
.sub-matter{
  display: flex;
  justify-content: space-between;
}
.logo-matter{
  width: 70%;
}
.logos{
  padding: 20px;
  display: flex;
  gap: 80px;
  justify-content: center;
}
.logo1 img{
  height: 200px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px;
  transition: 1s ease;
}
.logo2 img{
  width: 270px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px;
  transition: 1s ease;
}
.logo3 img{
  width: 270px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px;
  transition: 1s ease;
}
figure{
  display: flex;
}
.move{
  position: absolute;
  right: 17%;
  margin-top: 15px;
  z-index: 9999;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}
.range{
  position: absolute;
  right: 17%;
  margin-top: 15px;
  z-index: 9999;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}
.val{
  text-transform: none;
}
.logo3 img:hover{
  transform: translateX(20px);
}
.logo2 img:hover{
  transform: translateX(20px);
}
.logo1 img:hover{
  transform: translateX(20px);
}
button{
  text-align: center;
  margin-left: 40%;
  border: none;
  padding: 5px;
  /* background-color: rgb(141, 141, 198); */
  border-radius: 5px;
  background-color: rgb(40, 40, 143);
  color: white;
  font-variant: small-caps;
}
img, svg {
  height: 200px;
  margin-left: 40px;
}
.sub-two {
  color: aliceblue;
}