*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background: linear-gradient(45deg, black, rgb(0, 153, 255),rgb(187, 0, 255),rgb(0, 0, 0));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    padding: 30px;
}
@keyframes color{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }
.subfooters{
    display: flex;
    justify-content: center;
    gap: 110px;
    color: white;
}
.subone{
    display: flex;
    align-items: center;
    /* font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-size: 30px;
  font-style: normal; */
}
.subone h4{
    display: flex;
    align-items: center;
    font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}
.subtwo p{
    margin-top: -15px;
    font-size: 13px;
}
.subtwo h5{
    margin-bottom: 30px;
    font-family:cursive;
}
.subthree p{
    margin-top: -15px;
    font-size: 13px;
}
.subthree h5{
    margin-bottom: 30px;
    font-family:cursive;
}
.subfour p{
    margin-top: -15px;
    font-size: 13px;
}
.subfour h5{
    margin-bottom: 30px;
    font-family:cursive;
}
.copy{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}
.copy p{
    font-size: 12px;
}
.icon a{
    font-style: none;
    color: white;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav-link {
    color: white;
}